<h3>Lista de usuários (Completo)</h3>

<a href="/users-simplificado">Ver modo simplificado</a><br />
<a href="/users-completo">Ver modo completo</a><br />

<hr />

<table border="1">
    <tr>
        <td>Nome</td>
        <td>Sobrenome</td>
        <td>Data de nascimento</td>
        <td>filhos</td>
        <td>chapa</td>
        <td>email</td>
        <td>telefone</td>
        <td>endereco</td>
        <td>website</td>
        <td>github</td>
        <td>linkedin</td>
        <td>facebook</td>
        <td>instagram</td>
        <td>twitter</td>
    </tr>

    {{#if listExists}} 
        {{#each usuarios}}
    <tr>
        <td>{{this.nome}}</td>
        <td>{{this.sobrenome}}</td>
        <td>{{this.dataNascimento}}</td>
        <td>{{this.filhos}}</td>
        <td>{{this.chapa}}</td>
        <td>{{this.email}}</td>
        <td>{{this.telefone}}</td>
        <td>{{this.endereco}}</td>
        <td>{{this.website}}</td>
        <td>{{this.github}}</td>
        <td>{{this.linkedin}}</td>
        <td>{{this.facebook}}</td>
        <td>{{this.instagram}}</td>
        <td>{{this.twitter}}</td>
    </tr>
        {{/each}}
    {{/if}}


</table>